body{
	padding:0px;
	margin:0px;
	font-family: merriweatherSans, Arial, sans-serif;
	font-color: black;
	font-size: 28px;	
	word-wrap: break-word;
}

a{
	text-decoration: none;
	color: black;
}

.left-column{	
	margin-left:60px;
	margin-right:0px;
	margin-top:150px;
	padding:0px;
}

@media only screen and (max-width: 1620px) {
    .left-column{
		display:block; 	
		min-width:750px;
    	width:90%;
    }
}

@media only screen and (min-width: 1620px) {
    .left-column{
		display:inline-block;
    	width:750px;
    }
}

@media only screen and (min-width: 1920px) {
    .left-column{
		display:inline-block;
    	width:825px;
    	margin-left:125px;
    	margin-right:25px;
    }
}

.logo{
	margin-bottom:178px;
	font-size:110px;
	text-align:center;	
	text-transform: uppercase;
}

@media only screen and (min-width: 1920px) {
    .logo{
    	margin-left: 25px;
    }
}


.logo svg{
	text-align:center;
}

.logo div{
	margin-bottom:-22px;	
	font-weight: lighter;
}

.first-name{
	font-size:98px;
	margin-top: 10px;		
}

.profession{
	margin-top:27px;
	font-size:42px;		
}

.title{	
	position: relative;
	padding:0px;
	margin-bottom: 29px;
	text-transform: uppercase;
}

.section-title{
	background-color:white;
	margin-left:0px;
	padding-right:10px;
	padding-left:16px;
	text-align:left;
	font-size:74px;
	color:#3D6CB0;	
	font-weight:bold;
	vertical-align: middle;
}

.title svg{
	vertical-align: middle;	
}

.line{
	height:10px;	
	background: #3D6CB0;
	width:100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.buffer-line{
	background: white;
	display: inline-block;
	position: relative;
}

.section{
	line-height: 134%;
}

.section p{
	margin-bottom: 104px;
}

.contacts{
	margin-top:72px;
}

.contacts-title{
	font-size: 38px;
	color: #3D6CB0;
	margin:20px 40px;
	width:30%;
	font-weight:bold;
	padding-left: 0px;
	text-transform: uppercase;
}

.contacts span{	
	padding: 0px;
	margin: 0px;
}

.contacts>div{
	height: 109px;
}

.contacts-title{	
	margin: 0px;
	width: 255px;
	display: inline-block;
	vertical-align: top;
}

.contacts-info{	
	color:black;
	font-size:34px;
	display: inline-block;
	width: 60%;
}

.section-skills{
	margin-top: 29px;
}

.skills{
	margin-top: 56px;	
	line-height: 170%;
}

.dot{
	display: inline-block;
	margin-right:7px;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	background-color: #3D6CB0; 
}

.dot-off{
	background-color: #E6E6E6; 
}

.skills div{
	font-size:45px;
	text-align:center;
	margin-bottom:21px;
	text-transform: uppercase;
}


.right-column{
	margin-left:60px;
	margin-top:117px;
	margin-right:60px;
	padding:0px;
}

@media only screen and (max-width: 1620px) {
    .right-column{
		display:block;
		min-width:720px;
    	width:90%;
    }
}

@media only screen and (min-width: 1620px) {
    .right-column{	
		display:inline-block; 
		position: absolute;    	
		max-width:53%;
    }
}

@media only screen and (min-width: 1920px) {
    .right-column{	
		display:inline-block; 
		position: absolute;    	
		max-width:44.5%;
		margin-left:125px;
		max-width: 1255px
    }
}

.section-education{
	margin-top: 34px;
}

.exp, .edu{
	padding-top: 18px;
}

.exp-header{
	font-size: 48px;
}

.exp-name{
	color: #3D6CB0;
	margin-left:20px;
	font-weight:bold;
	text-transform: uppercase;
}

.exp .exp-name{
	color: black;
	text-transform: uppercase;
}

.exp-date{
	display:inline-block;
	padding-top:20px;
}

.exp-place{	
	font-size: 45px;
	margin: 30px 0px 18px 94px;
	text-transform: uppercase;
}

.exp-desc{	
	margin-left: 94px;	
}

.section-expirience{	
	margin-top: 104px;	
}

.section-expirience .title{	
	margin-bottom: 60px;	
}

.section-software{
	margin-top:109px;
}

.section-software:first-child{
	margin-top:195px;
}

.section-software .title{
	margin-bottom:55px;
}

.dot-black{
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: black; 
	vertical-align: sub;
	margin-left:12px;
}

.soft{
	float:left;
	width:45%;
	margin-right:0;	
	font-size:46px;
	line-height: 120%;
	text-transform: uppercase;
}

.soft:nth-child(2n){
	margin-right:10%;	
}

.graph-full{
	width:100%;
	height:35dpx;
	background:#E6E6E6;
	margin-top:28px;
	margin-bottom:48px;
}

.graph-percent{
	width:80%;
	height:42px;
	background:#3D6CB0;
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: normal;
    src: local('merriweatherSans'),
    	url('../fonts/merriweather-sans/MerriweatherSans-Regular.otf') format('otf'),
     	url('../fonts/merriweather-sans/MerriweatherSans-Regular.woff') format('woff'),
    	url('../fonts/merriweather-sans/MerriweatherSans-Regular.svg') format('svg');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: bold;
    src: local('merriweatherSans'),
    	url('../fonts/merriweather-sans/MerriweatherSans-ExtraBold.otf') format('otf'),
    	url('../fonts/merriweather-sans/MerriweatherSans-ExtraBold.ttf') format('ttf'),
    	url('../fonts/merriweather-sans/MerriweatherSans-ExtraBold.woff') format('woff'),
    	url('../fonts/merriweather-sans/MerriweatherSans-ExtraBold.svg') format('svg');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: lighter;
    src: local('merriweatherSans'),
    	url('../fonts/merriweather-sans/MerriweatherSans-Light.otf') format('otf'),
    	url('../fonts/merriweather-sans/MerriweatherSans-Light.ttf') format('ttf'),
    	url('../fonts/merriweather-sans/MerriweatherSans-Light.woff') format('woff'),
    	url('../fonts/merriweather-sans/MerriweatherSans-Light.svg') format('svg');
}






