body{
	padding:0px;
	margin:0px;
	font-family: merriweatherSans;
	font-size: 28px;
}

.left-column{	
	margin-left:60px;
	margin-right:0px;
	margin-top:80px;
	padding:0px;
}

.right-column{
	margin-left:60px;
	margin-top:80px;
	margin-right:60px;
	padding:0px;
}

.logo{
	height:900px;
	margin-bottom:158px;
	font-size:110px;
	text-align:center;	
}

.logo svg{
	text-align:center;
}

.logo div{
	margin-bottom:-22px;	
	font-weight: lighter;
}

.first-name{
	font-size:98px;
	margin-top: 12px;		
}

.logo >:last-child{
	margin-top:25px;
	font-size:42px;		
}

.title{
	height:140px;
	padding:0px;
	margin-top:50px;
}

.name{
	position: relative;
	top:-10px;	
	background-color:white;
	margin-left:140px;
	padding-right:15px;
	padding-left:20px;
	text-align:left;
	font-size:74px;
	color:#3D6CB0;	
	font-weight:bold;
    /*font-family: merriweatherSans;    */
}

.title svg{
	padding-right:0px;
	margin-top:-70px;
	vertical-align: top;	
}

.line{
	margin-top:80px;
	height:10px;	
	background: #3D6CB0;
	width:100%;
}

.section{
	line-height: 132%;
	margin-bottom: 160px;
}

.section table{
	margin-bottom: -60px;
	margin-top:10px;
}


.contact{
	font-size: 38px;
	color: #3D6CB0;
	margin:20px 40px;
	width:250px;
	font-weight:bold;
}

.contacts td{	
	padding-bottom:70px;
}

.address{	
	color:black;
	font-size:34px;
}

.dot{
	display: inline-block;
	margin-right:7px;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	background-color: #3D6CB0; 
}

.dot-off{
	background-color: #E6E6E6; 
}

.skills div{
	font-size:45px;
	text-align:center;
	margin-bottom:26.5px;
}

.exp, .edu{
	margin-bottom: 40px;
}

.exp-header{
	font-size: 48px;
}

.exp-name{
	color: #3D6CB0;
	margin-left:20px;
	font-weight:bold;
	margin-right:-70px;
}

.exp .exp-name{
	color: black;
}

.exp-date{
	display:inline-block;
	padding-top:20px;
	padding-left:70px;
}

.exp-place{	
	font-size: 45px;
	margin: 30px 0px 20px 70px;
}

.exp-desc{	
	margin-left: 70px;	
}

.dot-black{
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: black; 
}

.soft{
	float:left;
	width:45%;
	margin-right:0;	
	font-size:46px;
	line-height:1em;
}

.soft:nth-child(2n){
	margin-right:10%;	
}

.graph-full{
	width:100%;
	height:35dpx;
	background:#E6E6E6;
	margin-top:36px;
	margin-bottom:46px;
}

.graph-percent{
	width:80%;
	height:42px;
	background:#3D6CB0;
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/merriweather-sans/MerriweatherSans-Regular.otf');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/merriweather-sans/MerriweatherSans-Bold.otf');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: lighter;
    src: url('fonts/merriweather-sans/MerriweatherSans-Light.otf');
}

@font-face {
    font-family: merriweatherSans;
    font-style: normal;
    font-weight: lighter;
    src: url('fonts/merriweather-sans/DejaVuSans-ExtraLight.ttf');
}

@font-face {
    font-family: dejavuSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/dejavu-sans/DejaVuSans.ttf');
}

@font-face {
    font-family: dejaVuSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/dejavu-sans/DejaVuSans-Bold.ttf');
}

@font-face {
    font-family: mOneSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/m-one-sans/mplus-1c-regular.ttf');
}

@font-face {
    font-family: mOneSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/m-one-sans/mplus-1c-bold.ttf');
}

@media only screen and (max-width: 1620px) {
    .left-column{
		display:block; 	
		min-width:750px;
    	width:90%;
    }

    .right-column{
		display:block;
		min-width:720px;
    	width:90%;
    }
}

@media only screen and (min-width: 1620px) {
    .left-column{
		display:inline-block;
    	width:750px;
    }

    .right-column{	
		display:inline-block; 
		position: absolute;    	
		max-width:53%;
    }
}




