

body{
	padding:0px;
	margin:0px;
	font-family: nunitoSans;
	font-size: 18px;

	
}

.top-stripe{
	height:22px;
	width:100%;
	background:#04E4A2;
}

.header{
	height:78px;
	width:100%;
	background:#E94643;
}

.background{
	height:583px;
	width:100%;
	background:#EF5350;
}

.background svg{
	display:inline-block;
}

.bottom{
	height:394px;
	width:100%;
}

.footer{
	height:70px;
	width:100%;
	background: #FEFCF2;
	clear:both;
	padding-top:22px;
	padding-bottom: 0px;
}

.photo{
	margin-top:179px;
	margin-left:219px;
}

.name{
	display:inline-block;
	font-size: 36px;
	font-weight: bold;
	margin-left:13%;
	vertical-align: middle;
	padding-top: 15px;
}

.menu{
	display:inline-block;	
	margin-top:20px;	
	vertical-align:middle;
	width:53%;
}

.menu a{
	text-decoration:none;	
	font-size:18px;
	font-weight:normal;
	color:white;	
	padding-bottom: 9px;
	float:right;
}

.menu a:hover{
	border-bottom: 3px solid gold;	
}

.info{
	display:inline-block;
	width:500px;
	margin:-400px 20px 40px 706px;
	vertical-align: top;	
	line-height:1.2em;
}

.info>:first-child{	
	font-size:30px;
	line-height:1.1em;
	margin-bottom:30px;
}

.button-info {
    background: #04E4A2;
    float:right;
    border-radius: 5px;
    height: 39px;
    width:165px;
    color: #04E4A2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color:white;
    padding: 0;
    padding-top:14px;
    text-align:center;
    vertical-align:middle;
    margin-top:60px;
}

.feedback{
	width:560px;
	height:100%;
	margin:12px 0px 40px 687px;
}

.feedback input{
	float:left;
	padding: 12px 14px;
	margin:19px 0px 0px 20px;
	font-size:18px;
	width:216px;
	border: solid 3px #E3F2FD;
}

.feedback label{
	padding:12px;
	margin:31px;
	font-size:20px;

}

.feedback select{
	float:left;
	padding: 12px 14px;
	margin:19px 0px 1px 20px;
	font-size:18px;
	width:250px;
	border: solid 3px #E3F2FD;

	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: none;
}

.feedback textarea{
	float:left;
	padding: 12px;
	margin:12px 0px 15px 20px;
	font-size:18px;	
    width:490px;
    height:73px;
    resize:none;
    border: solid 3px #E3F2FD;
}

.feedback button {
    background: #EF5350;
    float:right;
    border-radius: 10px;
    height: 45px;
    width:120px;
    color: #04E4A2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color:white;
    padding: 0;
    margin-right:18px;
    text-align:center;
    vertical-align:middle;
    border:none;
}

.feedback button:hover{
	cursor:pointer;
}

.feedback svg{
	position:relative;
	top:100px;
	left:-40px;
}

.wrapper{
	display: inline-block;
}

.wrapper div, .wrapper svg{
	float:right;
	margin-right: 12px;
}

.footer div{
	display: inline-block;
	width:20%;
	text-align: center;
}

.footer >:first-child{
	vertical-align: super;	
	width:28%;
}


@font-face {
    font-family: nunitoSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/nunito-sans/Nunito-Regular.ttf');
}

@font-face {
    font-family: nunitoSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/nunito-sans/Nunito-Bold.ttf');
}

@media only screen and (min-width: 1320px) {
    .info{
		margin:-400px 20px 40px 706px;
    }
}

@media only screen and (max-width: 1320px) {
    .info{
		margin: 380px 0px 40px 100px;
    }

    .feedback{
		margin: 50px 0px 40px 80px;
    }
}